
<!-- Footer -->
<div class="container" style="width: 100%; height: 35px;"></div>

<footer class="container">
    
    <div class="footerColor bg-dark py-5">

        <div class="row">
            <div class="col-md-4">
                @*@Html.Partial("_FooterInfo")*@
            </div>
            <div class="col-md-4 text-center">

                @Html.Partial("_FooterInfo")
                @*@Html.Partial("_ContactForm")*@

            </div>
            <div class="col-md-4">

                

                @*@{
                    Html.RenderAction("FooterMenu", "Nav");
                }*@


            </div>

        </div>


    </div>
    <!-- /.container -->
</footer>
