
@using (Html.BeginForm("Search", "Product" , FormMethod.Get,
                    new
                    {
                        @class = "input-group py-2 pt-0",                        
                    }))
{

    <input @CMS.Attribute("Form.Search.Placeholder")
        placeholder="@Setting.Contents["Form.Search.Placeholder"]" 
        class="form-control" name="productSearch" type="text" value="" aria-label="search">

    <span class="input-group-append">
        <button class="btn btn-outline border-left-0 border" type="submit" data-toggle="tooltip" title="search">
            <i class="fa fa-search"></i>
        </button>
    </span>
}

