
<div class="mobile-contact-legacy">
    <a href="tel:@Setting.WebSettings[AppShop.Hotline].RemoveSpace()"
        class="iconcall">
        <span class="nummber-icon"></span>
        <span @CMS.Attribute(AppShop.HotlineName) class="number-name">
            @Setting.WebSettings[AppShop.HotlineName]
        </span>
        <span @CMS.Attribute(AppShop.Hotline) class="number-mobile">
            @Setting.WebSettings[AppShop.Hotline]
        </span>
    </a>
</div>