<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="DbResourceConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="IdentitySample.Startup, cms4seo.Web" />
    <add key="TTL" value="30" />
    <add key="ProjectId" value="test55.com" />
  </appSettings>
  <system.web>
    <!-- bypass-html-inject ====================-->
    <!-- this below line not safe ====================-->
    <!-- consider other solution ====================-->
    <!--<httpRuntime targetFramework="4.5" requestValidationMode="2.0" />-->
    <compilation debug="true" targetFramework="4.5"/>
    <!--<httpRuntime targetFramework="4.5" />-->
    <!-- for large file upload  (Max: 30mb, timeout: 20 minutes)-->
    <httpRuntime targetFramework="4.5" maxRequestLength="31457280" executionTimeout="1200" requestLengthDiskThreshold="31457280"/>
    <!-- iis7.5-fix ===========-->
    <customErrors mode="Off"/>
    <!-- user-trace -->
    <trace enabled="true" localOnly="true" requestLimit="50"/>
    <!-- session-state =======-->
    <!--<sessionState timeout="1" />-->
  </system.web>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Events.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <!-- end -> TraceLoggerFactoryAdapter uses System.Diagnostics.Trace for logging output -->
  <!-- fix-woff2-notFound =============================================-->
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff"/>
      <!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
      <!-- fix Leverage browser caching -->
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
      <!-- end fix Leverage browser caching -->
    </staticContent>
    <modules>
      <!-- fix verb -> method not allow -->
      <remove name="WebDAVModule"/>
      <!-- end fix verb -> method not allow -->
    </modules>
    <handlers>
      <!-- fix verb -> method not allow -->
      <remove name="WebDAV"/>
      <!-- end fix verb -> method not allow -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <!-- accept dots in parameters -->
      <add name="ApiURIs-ISAPI-Integrated-4.0" path="/admin/setup/domain/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="400" subStatusCode="-1"/>
      <error statusCode="400" path="/BadRequest" responseMode="ExecuteURL"/>
      <!-- Unauthorized Page-->
      <!--<remove statusCode="401" subStatusCode="-1"></remove>
      <error statusCode="401" path="/Admin/Home/Index" responseMode="ExecuteURL" />-->
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" path="/NotFound" responseMode="ExecuteURL"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="500" path="/ServerError" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins/temp/"/>
      <!--<probing privatePath="Plugins/temp/Test" />-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <DbResourceConfiguration>
    <add key="ConnectionString" value="SqlServerCeLocalizations"/>
    <add key="ResourceTableName" value="Localizations"/>
    <add key="ResxExportProjectType" value="Project"/>
    <add key="StronglyTypedGlobalResource" value="~/Properties/Resources.cs"/>
    <add key="ResourceBaseNamespace" value="cms4seo.Properties"/>
    <add key="ResxBaseFolder" value="~/Properties/"/>
    <add key="AddMissingResources" value="False"/>
    <add key="LocalizationFormWebPath" value="~/LocalizationAdmin/"/>
    <add key="BingClientId" value=""/>
    <add key="BingClientSecret" value=""/>
    <add key="ActiveConfiguration" value=""/>
    <add key="ResourceAccessMode" value="DbResourceManager"/>
    <add key="GoogleApiKey" value=""/>
  </DbResourceConfiguration>
</configuration>