@{
    ViewBag.Title = "Xác nhận đơn hàng";
}

<div>
    <h2>
        <span>Đặt hàng thành công!</span>
    </h2>
    <span>Cám ơn quý khách! Chúng tôi sẽ liên lạc với quý khách để xác minh đơn hàng trong thời gian sớm nhất, nếu có thể.</span>
</div>