
<!-- Footer -->

<footer class="py-5 footerColor bg-blue">
    
    <div class="">

        <div class="row">
            @*<div class="col-lg-4">
                
            </div>*@
            <div class="col-lg-4 mx-auto text-center">

                @Html.Partial("_FooterInfo")

                @*@{
            Html.RenderPartial("_ContactForm");
        }*@
            </div>
            

            @*<div class="col-md-4">
                @Html.Partial("_Map")

                @{
                    Html.RenderAction("FooterMenu", "Nav");
                }


            </div>*@

        </div>


    </div>
    <!-- /.container -->
</footer>
