@model IEnumerable<ProductTag>


<div class="">
    @foreach (var item in Model)
    {
        <a rel="nofollow" href="@Url.Action("ListBy", "ProductTags", new {slug = item.Slug})" class="secondary label tag-article">@item.Name</a>
    }
</div>