
/*-----------------------------------------------------------------------------------
/* CMS Switcher
/* Version: v1.2.1.2
/* after button with absolution position
-----------------------------------------------------------------------------------*/

/*.toggleEditContents {
    position: fixed;
    z-index: 50;
    color: yellowgreen;
    cursor: pointer;
    top: 50%;
    left: 15px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}*/



/*#region toggleSwitch */

 /* The switch - the box around the slider */
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 4px;
}

/* Hide default HTML checkbox */
.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The checkbox-slider */
.checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkbox-slider {
  /*background-color: #2196F3;*/
  background-color: yellowgreen;
  /*background-color: orange;*/
}

input:focus + .checkbox-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .checkbox-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.checkbox-slider.round {
  border-radius: 34px;
}

.checkbox-slider.round:before {
  border-radius: 50%;
}

/*#endregion */




/*#region theme switcher */


 /* =================================================================== */
/* Styles Switcher
====================================================================== */

	#cms-switcher h3 {
		/*color:#fff;*/
		color: yellowgreen;
        font-weight: bold;
		font-size:12px;
		margin: 5px 0 -3px 3px;
	}
	
	#cms-switcher {
		background: #222;
        /*background: rgb(173, 119, 100) !important;*/
		/*width:195px;*/
        width: 240px;
		position:fixed;
		top:30%;
		z-index:9999;
		left: -195px;
		border-radius: 0 0 3px 0;

        /*-webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px #222);*/

        /*-webkit-filter: drop-shadow(1px 1px 1px #444);
        filter: drop-shadow(1px 1px 1px #444);*/
	}
	
	#cms-switcher div {
		padding:5px 10px;
	}
	
	#cms-switcher h2 {
		background: #333;
        /*background: #795548;*/
		color: #FFFFFF;
		font-weight: bold;
		padding: 0;
		font-size: 14px;
		padding: 11px 0 11px 11px;
	}
	
	#cms-switcher h2 a {
		/*background: url("../images/swich-icon.png") no-repeat scroll left center transparent;*/
		display: inline-block;
        background: inherit;
        color: #fff;
        height: 41px;
        position: absolute;
        right: -39px;
        /* text-indent: -9999px; */
        top: 0;
        width: 39px;
        border-radius: 0 3px 3px 0;        
        padding: 8px 7px;
        font-size: 20px;
    }


	
	.themes-option-style select {
		width: 100%;
        border: none;
		margin:0 0 0 -5px;
		color: #666;
		cursor: pointer;
	}


/*#endregion */








/*#region edit content */

/*opt.activeEditContents {
    display: block;
    height: 2em;
}*/

.activeEditContents {
    border: 2px dashed orange !important;
    /*opacity: 1 !important;*/
}


.activeEditContents::after,
.activeEditContentSpan::after {
    content: " ";
    background-color: orange;
    background: url('edit-icon.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    z-index: 100;
}

.activeEditContents:hover::after,
.activeEditContentSpan:hover::after {
    -webkit-filter: drop-shadow(4px 4px 4px #222);
    filter: drop-shadow(4px 4px 4px #222);
}


.activeEditContents:active::after,
.activeEditContentSpan:active::after {
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}




/*#endregion */





/*#region Modal CMS */

/* The Modal (background) */
.modal-cms {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content-cms {
    background-color: #fefefe;
    
    /* 15% from the top and centered */
    margin: 15% auto; 
    
    padding: 50px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

    /*margin: 0 auto;
    margin-top: calc(50vh - 450px);*/
}

/* The Close Button */
.modal-content-cms .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content-cms .close:hover,
.modal-content-cms .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-cms .closeButton {
    margin-left: 5px;
}


/*#endregion */





/*#region Modal for bootstrap */

.modal-content-cms label,
.modal-content-cms input {
    width: 100%;
}


.modal-content-cms .button {
    padding: 7px 21px;
    margin-top: 10px;
    margin-right: 6px;
}


.modal-content-cms .button {
    background: #1779ba;
    color: white;
    border: none;
    padding: 10px 25px;
    margin-top: 10px;
}


.modal-content-cms .closeButton {
    background: #4a7b9c;
}

/*#endregion */




/*#region box-upload */

.image-required {
    color: orange;
}

img[src*="#"] {
    display: none;
}
/*#endregion */




/*#region loading wait */

/* This only works with JavaScript, 
if it's not present, don't show loader */

.waiting-when-post {

}

.se-pre-con {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url('Preloader_3.gif') center no-repeat #fff;
}

.se-pre-con.active {
    display: block;
}

/*#endregion */




/*#region preview true mode */

.box-preview {
    position: relative;
    display: inline-block;
}

span.true-mode {
    position: absolute;
    left: calc(50% - 59px);
    top: calc(50% - 17px);
    display: block;
    color: white;
    border: 2px solid white;
    padding: 3px 5px;
    webkit-filter: drop-shadow(2px 2px 4px rgba(0,0,0,.5));
    font-weight: bold;
    /* color: tomato; */
    background: tomato;
}

/*#endregion */



/*#region review animate */

.preloader-image {

    display: none;
    position: relative;

    /*padding: 15px;
     display: none; 
    position: absolute;
    background: transparent;
    left: calc(50% - 79px);
    top: calc(50% - 79px);
    z-index: 15;*/

    /*display: none; 
    position: absolute;
    background: transparent;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .5;*/
}

.preloader-image .preloader {
    padding: 15px;
    /*position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);*/
}



.preloader-submit {

    display: none;
    position: relative;

}

.preloader-submit .preloader {
    padding: 15px;
}

/*#endregion */