
@model IEnumerable<Category>


@foreach (var category in Model)
{

    <div class="products-header text-center">
        <h4 class="font-weight-bold">
            @category.Name
        </h4>
    </div>

    <div class="row mt-3">
        @foreach (var item in category.GetAllChildProduct().Take(30))
        {
            @Html.Partial("_CardProduct", item)
        }
    </div>
}