

<div class="alert alert-primary rounded-0">
    <strong>
        <span @CMS.Attribute("Section.Index.Callout")>
            @Setting.Contents["Section.Index.Callout"]
        </span>
    </strong>
</div>
