@model cms4seo.Model.Entities.Product

<div class="input-group mt-2 mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-warning" type="button" onclick="AddToMyCart(@Model.Id)">
            <span id="">Thêm vào giỏ hàng</span>
        </button>
    </div>

    <input type="number" min="1" id="numberOfProduct-@Model.Id" 
           class="form-control" value="1" aria-label="@Model.Name">

</div>
