
<div class="container">
    <div class="alert alert-warning text-center mt-3 h5 alert-callout">
        <strong>
            <span @CMS.Attribute("Section.Index.Callout")>
                @Setting.Contents["Section.Index.Callout"]
            </span>

        </strong>
    </div>
</div>