
<footer class="mt-2">

    <div class="text-center">

        <div class="footerPowerBy">
            <div>
                &copy; 2020 - power by <a href="http://cms4seo.com" rel="noopener" target="_blank">cms4seo.com</a>
            </div>
        </div>
    </div>
</footer>
