@model PagedList.IPagedList<Article>
@using PagedList.Mvc;

@{
    ViewBag.PageHeader = ViewBag.Title;
}

@*@Html.Partial("_BreadcrumbInfo", (string)ViewBag.Title)*@


<div class="mt-3">
    @foreach (var item in Model)
    {
        @Html.Partial("_CardArticle", item)
    }
</div>

<!-- PagerList -->
@Html.PagedListPager(Model, page => ViewBag.TopicSlug + "/" + page )
