<div class="devvn_toolbar">
    <ul>
        <li @CMS.Attribute(AppShop.Hotline)>
            <a href="tel:@Setting.WebSettings[AppShop.Hotline].RemoveSpace()" target="_blank" id="devvn_contact_1" title="Gọi điện" style="background-color: #2198dd ;">
                <img width="41" height="41" src="~/Themes/adsolution2/Assets/icon/icon-t1-white.png" class="attachment-full size-full" alt="">
                <span style="color: #ffffff; background-color: #2198dd;">Gọi điện</span>
            </a>
        </li>
        <li>
            <a href="http://zalo.me/@Setting.WebSettings[AppShop.Hotline].RemoveSpace()" target="_blank" id="devvn_contact_2" title="Zalo" style="background-color: #2198dd ;">
                <img width="105" height="41" src="~/Themes/adsolution2/Assets/icon/icon-t3-white.png" class="attachment-full size-full" alt="">
                <span style="color: #ffffff; background-color: #2198dd;">Zalo</span>
            </a>
        </li>
        <li>

            <a @CMS.Attribute(AppShop.FacebookLink)
                href="https://m.me/@Setting.WebSettings[AppShop.FacebookLink]" target="_blank" id="devvn_contact_3" title="Facebook" style="background-color: #2198dd ;">
                <img width="57" height="50" src="~/Themes/adsolution2/Assets/icon/icon-t4-white.png" class="attachment-full size-full" alt="">
                <span style="color: #ffffff; background-color: #2198dd;">Facebook</span>
            </a>
        </li>
    </ul>
</div>
