@model Boolean?

@if (Model != null && Model == true)
{
    <a href="#" class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i></a>
}
else
{
    <a href="#" class="btn btn-light btn-circle btn-sm active"><i class="fas fa-check text-light"></i></a>
}