@{
    ViewBag.Title = "Checking Email";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>

@Html.Partial("_StaticMessage")

<p class="text-info">
    @AdminResources.DisplayEmail_cshtmlExecute_Please_check_your_email_and_confirm_your_email_address_
</p>