@model PagedList.IPagedList<Article>



@*@Html.Partial("_BreadcrumbInfo", "relate article")*@

<div class="alert alert-secondary h2 text-center rounded-0 mt-5">
    <span @CMS.Attribute("Article.Relate.Header")>
        @Setting.Contents["Article.Relate.Header"]
    </span>
</div>

<div class="mt-2">
    @foreach (var item in Model)
    {
        @Html.Partial("_CardArticle", item)
    }
</div>