
@{
    var versionLekimaxWeb = cms4seo.Admin.Controllers.SystemInfoController.CurrentVersion;
}


<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Version @versionLekimaxWeb - &copy; 2020 - power by <a class="font-weight-bold" href="https://cms4seo.com" rel="noopener" target="_blank" style="color: orange">cms4seo.com</a></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->