
<!-- display on mobile size bellow 767px -->
<div id="uploadMobile" class="upload-mobile d-lg-none">
    <span class="fa-stack fa-lg fa-2x" aria-hidden="true">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
    </span>
</div>