@using cms4seo.Model.LekimaxType
@using cms4seo.Service.Provider

@model String

@{
    ViewBag.Title = "Query";
    var theme = Setting.WebSettings[WebSettingType.CurrentTheme];
    Layout = "~/Themes/" + theme + "/Views/Shared/_Layout.cshtml";
}


@Html.InlinePlatformStyle("~/Plugins/ShoppingCart/Assets/css/custom.css")
@Html.InlinePlatformScript("~/Plugins/ShoppingCart/Assets/js/custom.js")

<h1>
    Query Test!
</h1>