




<div id="fb-root"></div>
@*<script src="@Url.Content("~/signalr/hubs")"></script>*@

<!-- zoom img ====================================-->
<script>
    $(document).ready(function () {
        if (document.getElementsByClassName('fancybox').length) {
            $(".fancybox")
                .fancybox({
                    openEffect: 'none',
                    closeEffect: 'none'
                });
        }

    });
</script>
