
<div class="container body-content">

    <div class="sectionBrandSlick">

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-an-phong" src="~/Themes/modern-business/brand/01-doi-tac-khoan-cat-be-tong-an-phong.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-bosch" src="~/Themes/modern-business/brand/02-doi-tac-khoan-cat-be-tong-bosch.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-cotecons" src="~/Themes/modern-business/brand/03-doi-tac-khoan-cat-be-tong-cotecons.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-hilti" src="~/Themes/modern-business/brand/04-doi-tac-khoan-cat-be-tong-hilti.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-hitachi" src="~/Themes/modern-business/brand/05-doi-tac-khoan-cat-be-tong-hitachi.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-unicons" src="~/Themes/modern-business/brand/06-doi-tac-khoan-cat-be-tong-unicons.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-mekong-ec" src="~/Themes/modern-business/brand/07-doi-tac-khoan-cat-be-tong-mekong-ec.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-hoa-binh" src="~/Themes/modern-business/brand/08-doi-tac-khoan-cat-be-tong-hoa-binh.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-kobelco" src="~/Themes/modern-business/brand/09-doi-tac-khoan-cat-be-tong-kobelco.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-thuan-viet" src="~/Themes/modern-business/brand/10-doi-tac-khoan-cat-be-tong-thuan-viet.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-makita" src="~/Themes/modern-business/brand/11-doi-tac-khoan-cat-be-tong-makita.jpg" />
        </a>

        <a href="#" target="_top">
            <img alt="doi-tac-khoan-cat-be-tong-delta" src="~/Themes/modern-business/brand/12-doi-tac-khoan-cat-be-tong-delta.jpg" />
        </a>

    </div>
</div>