
<div class="speedometerBox">
    <span class="speedometer"></span>
    <span class="needle"></span>
    <span class="centralPoint"></span>
    <span class="needle2"></span>
    <span class="meterText">MAX</span>
</div>