@{
    ViewBag.Title = "/Admin/Setup/Domain";
    Layout = null;
    //Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

<h1>Setup/Domain</h1>

<!-- message ======================================================-->
@Html.Partial("_StaticMessage")

<a href="/" target="_top">Return Home</a>