@{
    ViewBag.Title = "/Admin/Setup/Domain";
    Layout = null;
    //Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

<h1>Setup/Domain</h1>
<h2>@TempData[MessageType.Info]</h2>
<a href="/" target="_top">Return Home</a>