@{
    ViewBag.Title = "Done";
    ViewBag.Description = "Congratulation, all action done!";
    Layout = "~/Areas/Admin/Views/Shared/_SetupLayout.cshtml";
    ViewBag.Step = 5;
}

<div class="text-center">
    <a href="/" target="_top" class="btn btn-info btn-lg waiting-when-post">Goto Homepage</a>
</div>