
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Areas/Admin/Views/Shared/_SetupLayout.cshtml";
}

<div class="statusCode">
    <div class="statusCode-header">
        <h1>401</h1>
    </div>
    <h2>Access Deny</h2>
    <p>You do not permission to access this page</p>
    
    <a href="@Url.Action("Index")" target="_top" class="btn btn-success">I have been edit config file</a><br/>

    <a href="@Url.Action("Index","Home")" target="_top" class="btn btn-info">Goto Homepage</a>
    <a href="@Url.Action("Index","Home")" target="_top" class="btn btn-secondary">Return Admin Page</a>
    <a href="@Url.Action("Login","Account")" target="_top" class="btn btn-info">Login with different Account</a>
</div>
