<aside class="">
    <div class="">
        <b>Filter by Price</b>
    </div>
    <div class="">


        <div class="">


            <div class="radio">
                <label><input type="radio" name="filterPrice" onclick="window.location = '@Url.Action("ListByPrice", "Product", new {priceFrom = "500000", priceTo = "4500000" })';"><b>Bellow 4500 </b></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="filterPrice" onclick="window.location = '@Url.Action("ListByPrice", "Product", new {priceFrom = "4500000", priceTo = "6999000" })';"><b>From 4500 To 6900</b></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="filterPrice" onclick="window.location = '@Url.Action("ListByPrice", "Product", new {priceFrom = "7000000", priceTo = "10000000" })';"><b>From 7000 to 10000</b></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="filterPrice" onclick="window.location = '@Url.Action("ListByPrice", "Product", new {priceFrom = "10000000", priceTo = "100000000" })';"><b>Above 10000</b></label>
            </div>


        </div>



    </div>
</aside>