
@model PagedList.IPagedList<Product>

@{

    ViewBag.Title = ViewBag.CategoryName;


    if (ViewBag.Category != null)
    {
        ViewBag.Description = ViewBag.Category.MetaDescription;
        ViewBag.Keywords = ViewBag.Category.MetaKeyWords;

        ViewBag.PageHeader = ViewBag.Title;

        ViewBag.ThemeImage = ((Category)ViewBag.Category).Avatar;
        ViewBag.ThemeImageMobile = ((Category)ViewBag.Category).Avatar;
        ViewBag.ThemeTitle = ViewBag.Title;
        ViewBag.ThemeDescription = ViewBag.Description;

        ViewBag.OgImage = ViewBag.ThemeImage;
        ViewBag.OgUrl = Request.Url.AbsoluteUri;
        ViewBag.OgType = ViewBag.Title;
    }

}


<div class="">

    @*@Html.Partial("_BreadcrumbViewbag")*@




    @if (!((Category)ViewBag.Category).Children.Any())
    {
        <div class="row">

            @foreach (var item in Model)
            {
                @Html.Partial("_CardProduct", item)
            }

        </div>
    }
    else
    {
        Html.RenderAction("CategorySystem", new { id = ((Category)ViewBag.Category).Id });
    }




    <!-- page list ==========================================================================-->

    <div class="right">
        @*@Html.PagedListPager(Model, page => Url.Action("Details", new {id = ViewBag.CategoryId, page}))*@
        @Html.PagedListPager(Model, page => ViewBag.Category.Slug + "/" + page)
    </div>



    @*@if (Model.Count < 9)
        {
            @Html.Partial("_SectionAlertServiceMap")

            @Html.Partial("_SectionTablePriceContact")
        }*@

</div>
